.search-bar {
    justify-content: flex-end;
    // margin-top: 10px;
    float: left;
    display: flex;
    padding-right: 10px;
}

.dwn-button {
    background-color: #007ad9;
    color: #fff;
    border-color: #007ad9;
}

.download-button {
    margin-top: 10px;
    margin-right: 15px;
}

.refresh {
    background-color: #007ad9;
    min-width: 2.286em;
    border: 0;
    color: white;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: 3px;
    line-height: 1.5;
}

.disabled {
    display: none;
}

.table-footer-tools{
    .search-bar{
        float: left;
    }
    .per-page-selection{
        float: right;
        .display {
            float: left;
            padding-left: 7px;
            padding-top: 16px;
        }
        mat-form-field {
            width: 50px !important;
            float: right;
            margin-left: 15px;
        }
    }
}
