<div [class]="styleClass" [ngStyle]="style" [ngClass]="'ui-paginator ui-widget ui-widget-header ui-unselectable-text ui-helper-clearfix'" *ngIf="alwaysShow ? true : (pageLinks && pageLinks.length > 1)" [class.disabled]="loadingState">
    <div class="ui-paginator-left-content" *ngIf="templateLeft">
        <ng-container *ngTemplateOutlet="templateLeft; context: {$implicit: paginatorState}"></ng-container>
    </div>
    <span class="ui-paginator-current" *ngIf="showCurrentPageReport">{{currentPageReport}}</span>
    <a [attr.tabindex]="isFirstPage() ? null : '0'" class="ui-paginator-first ui-paginator-element ui-state-default ui-corner-all" (click)="changePageToFirst($event)" (keydown.enter)="changePageToFirst($event)" [ngClass]="{'ui-state-disabled':isFirstPage()}"
       [tabindex]="isFirstPage() ? -1 : null">
        <span class="ui-paginator-icon pi pi-step-backward"></span>
    </a>
    <a tabindex="0" [attr.tabindex]="isFirstPage() ? null : '0'" class="ui-paginator-prev ui-paginator-element ui-state-default ui-corner-all" (click)="changePageToPrev($event)" (keydown.enter)="changePageToPrev($event)" [ngClass]="{'ui-state-disabled':isFirstPage()}"
       [tabindex]="isFirstPage() ? -1 : null">
        <span class="ui-paginator-icon pi pi-caret-left"></span>
    </a>
    <span class="ui-paginator-pages">
                <a tabindex="0" *ngFor="let pageLink of pageLinks" class="ui-paginator-page ui-paginator-element ui-state-default ui-corner-all"
                   (click)="onPageLinkClick($event, pageLink - 1)" (keydown.enter)="onPageLinkClick($event, pageLink - 1)" [ngClass]="{'ui-state-active': (pageLink-1 == getPage())}">{{pageLink}}</a>
            </span>
    <a [attr.tabindex]="isLastPage() ? null : '0'" class="ui-paginator-next ui-paginator-element ui-state-default ui-corner-all" (click)="changePageToNext($event)" (keydown.enter)="changePageToNext($event)" [ngClass]="{'ui-state-disabled':isLastPage()}" [tabindex]="isLastPage() ? -1 : null">
        <span class="ui-paginator-icon pi pi-caret-right"></span>
    </a>
    <a [attr.tabindex]="isLastPage() ? null : '0'" class="ui-paginator-last ui-paginator-element ui-state-default ui-corner-all" (click)="changePageToLast($event)" (keydown.enter)="changePageToLast($event)" [ngClass]="{'ui-state-disabled':isLastPage()}" [tabindex]="isLastPage() ? -1 : null">
        <span class="ui-paginator-icon pi pi-step-forward"></span>
    </a>

    <br>

    <div class="table-footer-tools">

        <div class="search-bar">
            <div class="download-button">
                <button class="btn btn-success dwn-button" (click)="downloadCSV()">{{'Export to CSV'|translate}}</button>
            </div>
            <div class="button">
                <button class="btn btn-success download-button refresh" (click)="reload()"><i class="fa fa-refresh"></i></button>
            </div>
            <div class="search-input">
                <form [formGroup]="form">
                    <mat-form-field appearance="legacy">
                        <input matInput placeholder="search" #data (keyup)="filter1(data.value)" [(ngModel)]="text" formControlName="search">
                    </mat-form-field>
                </form>
            </div>
        </div>

        <div class="per-page-selection">
            <p class="display">Showing : {{first + 1}} - {{first + rows}} of {{totalRecords}} Entries Per</p>
            <mat-form-field>
                <mat-select [(ngModel)]="rows" *ngIf="rowsPerPageOptions"  (selectionChange)="onRppChange($event)">
                    <mat-option *ngFor="let row of rowsPerPageOptions" [value]="row">
                        {{row}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
</div>
