/* You can add global styles to this file, and also import other style files */

@import "~@swimlane/ngx-datatable/index.css";
@import "~@swimlane/ngx-datatable/themes/bootstrap.scss";
@import "~@swimlane/ngx-datatable/themes/material.scss";
@import "~@swimlane/ngx-datatable/assets/icons.css";
@import "./assets/shared/prime-ng.scss";

body {
    & html{
        height: 100%;
    }
    margin: 0;
    font-family: "Ubuntu Light", sans-serif !important;
    font-size: 20px;

    h2 {
        font-size: 30px;
        font-weight: bold;
    }

    h4 {
        font-size: 16px;
        font-weight: bold;
    }

    .ui-dropdown {
        float: left;
        &.ui-state-focus {
            border-color: #ffffff !important;
            -webkit-box-shadow: 0 0 0 0.2em #ffffff;
            -moz-box-shadow: 0 0 0 0.2em #ffffff;
            box-shadow: 0 0 0 0.2em #ffffff!important;
        }
    }
}
